APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

BROADCAST_DRIVER="pusher"

PUSHER_APP_ID=337739
PUSHER_KEY=dd9d23c18483fbc83573
PUSHER_SECRET=52c85075c037356191c8
PUSHER_CLUSTER=eu

VAPID_PUBLIC_KEY=BNr1shHLnkc7ErKkUIxEVpto6AgV9XYPE/pCTuVKg8clNOCRBhagIu4TMWyJSNEaHCYtMPC763JwYITzFWrSI0g=
VAPID_PRIVATE_KEY=NXjpWMkffNS30N4EnfTIlULg0B70t8aqGE9h230DTj0=

API_PREFIX=api
API_SUBTYPE=app
API_VERSION=v1

SIGN_UP_RELEASE_TOKEN=false
PASSWORD_RESET_RELEASE_TOKEN=false
